@model List<Country>

    <div class="container">


<div class="card shadow border-0 mt-4">

    <!-- Header with new color -->
        <div class="card-header py-2" style="background-color:#002147;">
        <div class="col-12">
            <h2 class="text-white text-center m-0">
                Countries List
            </h2>
        </div>
    </div>

    <div class="card-body">

        <!-- Add button -->
        <div class="row pt-2 pb-3">
            <div class="col-12 text-end">
                <a asp-controller="Country" asp-action="Add" class="btn btn-success">
                    <i class="bi bi-plus-circle"></i> Add Country
                </a>
            </div>
        </div>

        <!-- Table -->
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th class="text-center" style="width: 100px;">ID</th>
                    <th>Country Name</th>
                    <th class="text-center" style="width: 250px;"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center fw-semibold">@item.Id</td>
                        <td class="fw-semibold">@item.CountryName</td>

                        <td class="text-center">
                            <div class="btn-group w-75" role="group">

                                <a asp-controller="Country"
                                   asp-action="Edit"
                                   asp-route-id="@item.Id"
                                   class="btn btn-warning mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>

                                <a asp-controller="Country"
                                   asp-action="Delete"
                                   asp-route-id="@item.Id"
                                   class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>


</div>